.trending-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 50px;
    margin-top: 20px;
    scroll-behavior: smooth;
    

}
.info{
    color: white;
}
.trending-img{
    
    margin-right:40px;
    width: 200px;
    height: 300px;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    
} 

.heading-2{
    color:white;
    margin-top: 40px;
    margin-left: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .00735em;
    text-decoration: inherit;
    text-transform: inherit;
    font-weight: 500;
    font-size: 2rem;
    -webkit-font-smoothing: auto;
  }